# SPDX-FileCopyrightText: 2026 Frans van Dorsselaer
#
# SPDX-License-Identifier: GPL-3.0-only

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.editorconfig    text

*.license        text

*.cfg   text
*.json  text
*.md    text
*.txt   text
*.yml   text

*.slnx  text
*.props     text
*.targets   text

*.vcxproj   text
*.vcxproj.filters   text
*.c         text
*.h         text
*.inf       text eol=crlf
*.ddf       text

*.csproj    text
*.cs        text eol=crlf
*.tt        text

*.config    text

packages.lock.json  text linguist-generated

CODEOWNERS  text
